# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
*.user

# Secrets & API Keys
*.env
api.json
api_keys.json
credentials.json
*.key

# Batch script
push.bat